<div class="row pt-4">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header text-white bg-secondary">
          <h5 class="mb-0">About</h5>
        </div>
        <div class="card-body">
          <p><strong>Application Name :</strong> Quiz application</p>
          <p><strong>Version :</strong> 1.0.0.1</p>
          <p><strong>Platform :</strong> MEAN stack</p>
          <p><strong>Developed by :</strong> Sagar Bapardekar</p>
          <p><strong>Email : </strong> <a href="javascript:void(0)">sagar.b017@yahoo.com</a></p>
        </div>
      </div>
    </div>
  </div>
  