<div class="row pt-4">
  <div class="col-md-12 mx-auto">
    <div class="card rounded-0">
      <div class="card-header text-white bg-secondary">
        <h5 class="mb-0"><i class="fas fa-stopwatch"></i> Timeout </h5>
      </div>
      <div class="card-body text-center">
        <p>
          Thank you for your participation.
        </p>
        <p>Unfortunately your quiz time is over.</p>
        <button class="btn btn-primary" (click)="restartQuiz()">Click to restart</button>
      </div>
    </div>
  </div>
</div>
